<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mall.common.dao.BannerMapper">

    <select id="queryLast" parameterType="int" resultType="banner">
        SELECT
        @rowno := @rowno + 1 AS rowno,
        r.*
        FROM (SELECT
        id,
        img,
        href
        FROM banner
        ORDER BY id DESC) r, (SELECT @rowno := 0) t
        WHERE @rowno &lt; #{count}
    </select>

</mapper>